<div class="col-12">
  <div class="form-group">
    <label>{{langData['p2-1']['questions'][lang]}}</label>
    <div class="form-inline">
      <div class="form-check form-check-inline" *ngFor="let x of langData['p2-1']['options']">
        <input class="form-check-input" type="checkbox"
               [(ngModel)]="fullAnswer[langData['p2-1']['key'] + '_' + x[0]]" id="{{'id' + x[0]}}"
               value="{{x[0]}}">
        <label class="form-check-label" for="{{'id' + x[0]}}">{{x[lang + 1]}}</label>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <label>{{langData['p2-2']['questions'][lang]}}</label>
    <input type="text" class="form-control" [(ngModel)]="fullAnswer[langData['p2-2']['key']]">
  </div>
  <hr>
  <div class="form-check">
    <label>{{langData['p2-3']['questions'][lang]}}</label>
    <div class="form-inline">
      <div class="form-check form-check-inline" *ngFor="let x of langData['p2-3']['options']">
        <input class="form-check-input" type="checkbox"
               [(ngModel)]="fullAnswer[langData['p2-3']['key'] + '_' + x[0]]"
               id="{{'id3' + x[0]}}"
               value="{{x[0]}}">
        <label class="form-check-label" for="{{'id3' + x[0]}}">{{x[lang + 1]}}</label>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <label>{{langData['p2-4']['questions'][lang]}}</label>
    <input type="text" class="form-control" [(ngModel)]="fullAnswer[langData['p2-4']['key']]">
  </div>
  <div class="form-group">
    <label>{{langData['p2-5']['questions'][lang]}}</label>
    <input type="text" class="form-control" [(ngModel)]="fullAnswer[langData['p2-5']['key']]">
  </div>
  <div class="form-group">
    <label>{{langData['p2-6']['questions'][lang]}}</label>
    <input type="text" class="form-control" [(ngModel)]="fullAnswer[langData['p2-6']['key']]">
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" (click)="changePage.emit(true)">Next >></button>
    </div>
  </div>
</div>
